//Responsiveness
$mobile: 450px;
$tablet: 768px;
$desktop: 1024px;
$large-screen: 1200px;

//Misc

//Typography
$font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$weights: '300', '400', '500', '700';
$paragraph-color: #3f4852;

//Color
$primary: #54a0ff;
$primary-hovered: #2e86de;
$secundary: #ff6b6b;
$secundary-hovered: #ee5253;
$alert: $secundary-hovered;
$success: #1dd1a1;
$success-hovered: #10ac84;
$soft-gray: #c8d6e5;
$semi-white: #f5f6fa;


//Grid
$column-number: 12;
$sizes-list: 'mobile', 'tablet', 'desktop', 'largescreen';
$column-gap: 0.5rem;
$container-size: 60rem;
$gap-container: 2rem;



//Forms