.container{
    margin: 0 auto;
    width: $container-size;
    &--fluid{
        width: auto;
        margin: 0 $gap-container;
        @include tablet-down{
            margin: 0 ($gap-container / 2);
        }
    }
}

//Row of grid
.row{
    margin-left: -$column-gap;
    margin-right: -$column-gap;
    display: flex;
    flex-wrap: nowrap;
}

//Row types
.is-multline{
    flex-wrap: wrap;
}

.no-gutter{
    margin-left: 0;
    margin-right: 0;
    > .column{
        padding: 0;
    }
}

//Columns
.column{
    display: flex;
    flex-basis: 1;
    flex-grow: 1;
    flex-shrink: 1;
    padding: $column-gap;
    width: 100%;
}

/*
 Generate columns named as column-breakpointName-size
 Ex: column-desktop-10
*/
@include mobile-up {
    @for $i from 1 through $column-number{
        .column-mobile-#{$i}{
            width: percentage($i / $column-number);
            flex: none;
        }
    }
}
@include tablet-up {
    @for $i from 1 through $column-number{
        .column-tablet-#{$i}{
            width: percentage($i / $column-number);
            flex: none;
        }
    }
}
@include desktop-up {
    @for $i from 1 through $column-number{
        .column-desktop-#{$i}{
            width: percentage($i / $column-number);
            flex: none;
        }
    }
}
@include large-screen-up {
    @for $i from 1 through $column-number{
        .column-largescreen-#{$i}{
            width: percentage($i / $column-number);
            flex: none;
            
        }
    }
}

/*
 Generate columns named as column-4, column-5, column-10
 Max size: 12
*/
@for $i from 1 through $column-number{
    .column-#{$i}{
        width: percentage($i / $column-number);
        flex: none;
    }
}


/*
  Named Sizes (Inspired in Bulma Framework)
  TODO: create all named size
*/
.half{
    flex: none;
    width: 50%;
}
.one-third{
    flex: none;
    width: 33.3333%;
}
.two-third{
    flex: none;
    width: 66.6666%;
}