@import "./variables/_variables";
@import "./mixins/_query";
@import "./general/_sample-config";
@import "./general/_typography";
@import "./general/_grid";
@import "./general/_buttons";
@import "./general/_lists";
@import "./general/_forms";


*{
    box-sizing: border-box;
}

.color{
    background: #48dbfb;
    padding: 25px;
    width: 100%;
}
